.footer {
    text-align : center;
    padding    : 35px 0 10px 0;
    a,
    span {
        color : $theme--color--primary;
    }
    .discl {
        margin    : 0 auto;
        max-width : 520px;
        padding: 15px 0 10px 0;
    }
}