.header {
    background : #efefef;
    padding    : 20px 10px;
    .name {
        font-size : 2em;
        a {
            color           : inherit;
            text-decoration : none;
        }
    }
    .desc {
        color : #555555;
        a {
            color           : inherit;
            font-weight     : bolder;
            text-decoration : none;
            border-bottom   : 1px solid #555555;
            transition      : color 0.4s linear, border-bottom 0.4s linear;
            &:hover {
                color         : $theme--color--primary;
                border-bottom : 1px solid $theme--color--primary;
            }
        }
    }
}