#nav-sticky {
    position         : fixed;
    z-index          : 2;
    left             : 0;
    bottom           : 10px;
    @include for-bp-md-up {
        top    : 150px;
        bottom : auto;
    }
    background-color : for-lighten($theme--font--color, 10%);
    min-width        : 30px;
    .nav-sticky {
        &--container {
            max-height     : 0;
            max-width      : 0;
            padding-bottom : 10px;
            overflow       : hidden;
            // will be used when closing
            transition     : max-height 120ms ease-out, max-width 0.2s ease-out 120ms, border-right 1ms linear 320s;
            &.visible {
                max-width    : 800px;
                max-height   : 80vh;
                border-right : 2px solid #ffffff;
                // will be used when opening
                transition   : max-width 0.2s ease-out, max-height 120ms ease-out 0.2s;
            }
        }
        &--toggle {
            right      : 0;
            font-size  : 0;
            padding    : 5px 10px;
            top        : 50%;
            position   : absolute;
            transform  : perspective(1px) translateY(-50%);
            transition : transform 0.3s ease-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
            &:hover {
                right : -8px;
            }
            &.visible {
                transform  : rotate(180deg);

                // align v center doesn't work as it is also animated (and would be needed in double as
                //transform : rotate(180deg) perspective(1px) translateY(-50%);
                margin-top : -20px;
                @include for-bp-md-up {
                    right : -37px;
                }
                &:hover {
                    //right : 0;
                }
            }
            &:before {
                font-size : 25px;
                content   : '>';
            }
        }
    }
    p {
        text-align : center;
    }
    a {
        display     : block;
        font-family : Consolas, Monaco, 'Andale Mono', monospace;
        font-size   : 14px;
        margin-left : 5px;
        padding     : 3px 3px 0 3px;
        color       : $for-grayscale-base-p2;
        border-left : 3px solid transparent;
        transition  : 0.45s linear border-left-color;
        &:hover {
            border-left-color : $for-grayscale-base-p2;
        }
        &.element {
            $nav-sticky--element-padding : 8px;
            $nav-sticky--element-padding-addition : 2px;
            &-h1 {
                padding-left : 2px;
            }
            &-h2 {
                padding-left : $nav-sticky--element-padding * 1 + $nav-sticky--element-padding-addition;
            }
            &-h3 {
                padding-left : $nav-sticky--element-padding * 2 + $nav-sticky--element-padding-addition;
            }
            &-h4 {
                padding-left : $nav-sticky--element-padding * 3 + $nav-sticky--element-padding-addition;
            }
            &-h5 {
                padding-left : $nav-sticky--element-padding * 4 + $nav-sticky--element-padding-addition;
            }
            &-h6 {
                padding-left : $nav-sticky--element-padding * 5 + $nav-sticky--element-padding-addition;
            }
        }
    }
}