.main-nav {
    z-index         : 3;
    position        : relative;
    margin          : 0;
    padding         : 10px 0;
    list-style-type : none;

    @include for-bp-md-up {
        padding : 15px 15px 15px 11px;
    }

    &:before,
    &:after {
        content : ' ';
        display : table;
    }

    &:after {
        clear : both;
    }

    li {
        margin          : 0;
        list-style-type : none;
    }
    > li {
        float      : left;
        color      : $theme--color--primary;
        transition : color 0.4s linear;
        &:first-child {
            padding-left : 0;
        }
        &:last-child {
            padding-left : 0;
        }
        > a, > span {
            &:hover {
                cursor : pointer;
            }
        }
        &:hover {
            color : $theme--color--secondary;
            & .main-nav--child {
                display   : flex;
                flex-wrap : wrap;
            }
        }
    }

    &--nav-label {
        font-size : 1.5em;
        padding   : 8px 10px;
        &:first-child {
            padding-left : 0;
        }
    }

    &--child {
        position   : absolute;
        display    : none;
        left       : 0;
        right      : 0;
        padding    : 2.5px 5px;
        margin-top : 7px;
        background : $theme--color--primary;
        &--item {
            padding : 5px;
            margin  : 2.5px 0;
            @include for-col-base;
            @include for-col(24);
            @include for-col-md(8);

            &--nav-label {
                padding   : 5px;
                color     : $theme--color--primary;
                font-size : 1.15em;
            }

            a {
                display : block;
                padding : 2px 0;
                color   : $theme--color--secondary;
                &:hover {
                    color : $theme--color--primary;
                }
            }

            ul {
                li {
                    position : relative;
                    &:before {
                        content          : '';
                        width            : 6px;
                        height           : 6px;
                        background-color : #ffffff;
                        display          : block;
                        position         : absolute;
                        left             : -20px;
                        top              : 50%;
                        transform        : perspective(1px) translateY(-50%);
                    }
                }
            }

            &--flood-canal,
            &--flood-component,
            &--flood,
            &--hydro,
            &--flood-module,
            &--flood-theme,
            &--formanta-sass,
            &--formanta-js,
            &--formanta-files {

            }

            &--flood-canal {
                background : $for-grayscale-base-p2;
            }
            &--flood-component {
                background : $for-grayscale-base;
            }
            &--flood {
                background : $for-grayscale-base-n1;
            }
            &--hydro {
                background : $for-grayscale-base-n1;
            }
            &--flood-module {
                background : $for-grayscale-base;
            }
            &--flood-theme {
                background : $for-grayscale-base-p2;
            }
            &--formanta-sass {
                background : $for-grayscale-base-n1;
            }
            &--formanta-sass-core {
                background : $for-grayscale-base;
            }
            &--formanta-js {
                background : $for-grayscale-base-p2;
            }
        }
    }
}
