.home {
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-left  : 15px;
        margin-right : 15px;
    }
    h2 {
        //padding : 0 15px;
    }

    .home--list-last-updates {
        padding : 0 15px 15px 15px;

        .article {
            margin   : 2px 0 8px 0;
            position : relative;

            @media (min-width : 960px) {
                margin : 2px 0 12px 0;
            }
        }

        .name {
            background : $theme--color--secondary;
            padding    : 7px 15px;

            @media (min-width : 756px) {
                padding : 14px;
            }
            @media (min-width : 960px) {
                padding : 21px;
            }
            a {
                padding         : 7px 0;
                display         : block;
                text-decoration : none;
                &:hover {
                    color : #ffffff;
                }
                &:before {
                    content       : '>';
                    padding-right : 8px;
                }
            }
        }

        .in-section {
            position   : static;
            right      : 0;
            top        : 0;
            background : rgba(137, 180, 132, 0.6);
            padding    : 4px;

            @media (min-width : 756px) {
                background : $theme--color--primary;
                position   : absolute;
            }
        }

        .col {
            position   : relative;
            min-height : 1px;
            float      : left;
            padding    : 4px;
        }

        .col-last-creation,
        .col-last-update {
            color : #a8a8a8;
            width : 50%;
        }

        .col-last-creation {
            text-align : right;
        }

        .col-last-update {
            text-align : left;
        }

        .row:before,
        .row:after {
            content : ' ';
            display : table;
        }

        .row:after {
            clear : both;
        }
    }
}