$theme--color--primary : #89b484;
$theme--color--secondary : #0e1d39;
$theme--font--color : #555555;
$theme--font--family : 'Source Sans Pro', sans-serif;
$theme--asset-path : '/view/out/';
$theme--transition : 0.4s linear;
$theme--bg : #3c3d41;

$theme--content--padding : 0 20px 15px 20px;
$theme--input--padding : 12px 15px;
$theme--btn--padding : 15px 20px;

@import '../../bower_components/normalize-css/normalize';
//@import '../../bower_components/prism/themes/prism-okaidia';
@import '../../bower_components/highlightjs/styles/darcula.css';

$for-output-all : false;
@import '../../vendor/bemit/formantasass-core/all';

html {
    font-family : $theme--font--family;
    width       : 100%;
    height      : 100%;
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
    font-size   : 18px;
}

body {
    width                   : 100%;
    height                  : 100%;
    margin                  : 0;
    padding                 : 0;
    // @link http://maxvoltar.com/archive/-webkit-font-smoothing
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    background              : $theme--bg;
    color                   : $theme--font--color;
}

* {
    box-sizing : border-box;
}

h1 {
    color     : #ffffff;
    font-size : 1.8em;
    margin    : 15px 0 20px 0;
    @include for-bp-md-up {
        margin : 30px 0 40px 0;
    }
}

h2 {
    color  : #cbcbcb;
    margin : 20px 0 10px 0;
    @include for-bp-md-up {
        margin : 30px 0 15px 0;
    }
}

h3 {
    color  : #a8a8a8;
    margin : 15px 0 10px 0;
    @include for-bp-md-up {
        margin : 20px 0 10px 0;
    }
}

h4 {
    color  : #a8a8a8;
    margin : 10px 0 10px 0;
}

h5 {
    color  : #a8a8a8;
    margin : 10px 0 10px 0;
}

h6 {
    color  : #a8a8a8;
    margin : 10px 0 10px 0;
}

h1,
h2,
h3,
h4,
h5 {
    // anchor maker highlight
    border-bottom : 2px solid transparent;
    transition    : border-bottom 0.7s ease-in-out 0.2s;
    &.anchor-maker--highlight {
        border-bottom-color : $theme--color--primary;
    }
}

pre,
code,
p a code {
    font-family : Consolas, Monaco, 'Andale Mono', monospace;
    font-size   : 0.95em;
    color       : #bababa;
    background  : #2b2b2b;
    //background  : $theme--color--secondary;

    display     : block;
    padding     : 10px 17px;
    width       : 100%;
}

pre > code {
    padding    : 0.6em;
    overflow-x : auto;
    overflow-y : hidden;
}

p,
li {
    pre,
    code {
        font-size : 0.9em;
        display   : inline-block;
        padding   : 3px 4px;
        width     : auto;
    }
}

p a {
    pre,
    code {
        border-bottom : 1px solid $for-general-color-primary;
        padding       : 4px 6px;
        display       : inline-block;
        width         : auto;
    }
}

p {
    color       : #e0f4f4;
    line-height : 1.3em;
    margin      : 16px 15px;
}

a,
li a,
p a {
    color      : $theme--color--primary;
    transition : color 0.4s linear;
    &:hover {
        color : $theme--color--secondary;
    }
}

ol,
ul {
    padding-left : 30px;
    li {
        padding : 2px 0;
        color   : #e0f4f4;
    }
}

button,
.btn {
    border          : 1px solid $theme--color--primary;
    color           : #ffffff;
    font-weight     : bold;
    background      : $theme--color--primary;
    transition      : $theme--transition;
    padding         : $theme--btn--padding;
    text-decoration : none;
    &:hover {
        border-color : #ffffff;
        background   : #ffffff;
        color        : $theme--color--primary;
        cursor       : pointer;
    }
}

input[type=email],
input[type=password],
input[type=text] {
    border     : 1px solid $theme--color--primary;
    background : #ffffff;
    transition : $theme--transition;
    color      : $theme--font--color;
    padding    : $theme--input--padding;
    &:hover {
        border-color : $theme--color--secondary;
        color        : $theme--color--secondary;
    }
}

label {
    display : block;
}

.container {
    margin  : 0 auto;
    padding : 0 5px;
    @media (min-width : 960px) {
        max-width : 960px;
        padding   : 0;
    }
}

.blog {
    position : relative;
    img {
        max-width : 100%;
    }
    .blog-article {
        &--social {
            background : $theme--color--primary;
            margin-top : 15px;
            padding    : 15px 0 15px 0;
            p {
                margin         : 0;
                font-weight    : bold;
                text-align     : center;
                font-size      : 1.25rem;
                padding-bottom : 10px;
            }
            > div {
                text-align : center;
            }
            a {
                color       : $theme--color--secondary;
                display     : inline-block;
                font-weight : bold;
                padding     : 2px 5px;
                &:hover {
                    color : #ffffff;
                }
            }
        }
    }
}

.blog-article-info {
    p {

    }
}

blockquote {
    position    : relative;
    margin      : 0 0 20px;
    padding     : 3px 20px 3px 45px;
    display     : block;
    background  : $theme--font--color;
    font-size   : 1em;
    line-height : 1.3;
    color       : $theme--color--secondary;
    border    : {
        left  : 15px solid $theme--color--primary;
        right : 2px solid $theme--color--primary;
    }

    &::before {
        content  : '\201C';
        font       : {
            size   : 65px;
            weight : bold;
        }
        color    : $theme--bg;
        position : absolute;
        left     : 10px;
        top      : -10px;
    }

    p {
        margin : 8px;
    }

    em {
        font-style : italic;
    }
}

@import "component/header";
@import "component/sidebar";
@import "component/nav";
@import "component/nav-sticky";
@import "component/footer";
@import "home";
@import "about";
@import "law";