<div class="row copyright">
    <span>&copy; 2017 - 2018 bemit UG (haftungsbeschränkt) - <a href="https://twitter.com/elbakerino" target="_blank">Michael Becker</a></span>
    <div>
        <a
                href="{{ url.generator.generate('law', {'page': 'privacy-policy', 'locale': 'en'}) }}"
                {% if frontend.routes.get('law').getDefault('rel') %}{{ frontend.routes.get('law').getDefault('rel') }}{% endif %}
        >Privacy Policy</a> -
        <a
                href="{{ url.generator.generate('law', {'page': 'imprint', 'locale': 'en'}) }}"
                {% if frontend.routes.get('law').getDefault('rel') %}{{ frontend.routes.get('law').getDefault('rel') }}{% endif %}
        >Imprint</a> -
        <a
                href="{{ url.generator.generate('rss') }}"
                {% if frontend.routes.get('rss').getDefault('rel') %}{{ frontend.routes.get('rss').getDefault('rel') }}{% endif %}
                target="_blank"
        >RSS</a>
    </div>
    <div class="discl"><small>Product names, trademarks and company names or logos cited herein are the property of their respective owners. This page, any author or the maintainer are not claiming any rights on third party product names, trademarks (and so on) used.</small></div>
</div>