<span class="name"><a href="{{ url.home }}">Paint the Web</a></span> -
<span class="desc">a micro-Blog in <a href="https://bitbucket.org/bemit_eu/painttheweb.de/src" target="_blank">.md</a> about Dev, Web and more</span>