<meta charset="UTF-8"/>
<title>{{ head.title }}</title>
<meta name="author" content="{{ head.author }}"/>

<link href="{{ url.asset }}style.min.css?1295634" rel="stylesheet" type="text/css"/>
{#<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Source+Code+Pro:300,400,600,700" rel="stylesheet">#}

<link rel="alternate" type="application/rss+xml" href="/rss">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if meta.description %}
    <meta name="description" content="{{ meta.description }}">
{% endif %}

{#<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>#}