<!DOCTYPE html>
<html{% if meta.lang %} lang="{{ meta.lang }}"{% endif %}>
<head>
    {% include('general/head.twig') %}
</head>
<body class="body"{% if meta.lang %} lang="{{ meta.lang }}"{% endif %}>
<div class="container">
    <div class="row">
        <section class="container-inner col-24">
            <header class="header">{% include('general/header.twig') %}</header>
            <aside class="sidebar">
                {% block left_sidebar %}
                    <ul class="main-nav">
                        <li><a class="main-nav--nav-label" href="{{ url.generator.generate('home') }}">Home</a></li>
                        <li><a class="main-nav--nav-label" href="{{ url.generator.generate('about') }}">About</a></li>
                        <li>
                            <span class="main-nav--nav-label">Flood</span>
                            <div class="main-nav--child">
                                <div class="main-nav--child--item main-nav--child--item--flood-canal">
                                    <span class="main-nav--child--item--nav-label">Flood\Canal</span>
                                    <ul>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-canal', article: 'setup-and-run-a-project', strm: 'Flood\\Canal: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-canal', article: 'templating', strm: 'Flood\\Canal: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-canal', article: 'content-management', strm: 'Flood\\Canal: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-canal', article: 'asset-management-for-sass-and-js-files', strm: 'Flood\\Canal: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-canal', article: 'console-cli-mode', strm: 'Flood\\Canal: '}) }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-nav--child--item main-nav--child--item--flood-component">
                                    <span class="main-nav--child--item--nav-label">Component's</span>
                                    <span class="main-nav--child--item--nav-label">Flood</span>
                                    <ul>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-component', article: 'container', strm: 'Flood\\Component: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-component', article: 'route', strm: 'Flood\\Component: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-component', article: 'cache', strm: 'Flood\\Component: '}) }}
                                        </li>
                                    </ul>
                                    <span class="main-nav--child--item--nav-label">Canal</span>
                                    <ul>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-component', article: 'canal-view', strm: 'Flood\\Component: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-component', article: 'canal-asset', strm: 'Flood\\Component: '}) }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-nav--child--item main-nav--child--item--flood">
                                    <span class="main-nav--child--item--nav-label">Flood</span>
                                    <ul>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood', article: 'admin-ui', strm: 'Flood\\Admin: '}) }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-nav--child--item main-nav--child--item--hydro">
                                    <span class="main-nav--child--item--nav-label">Flood\Hydro</span>
                                    <ul>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-hydro', article: 'setup-and-run-a-project', strm: 'Flood\\Hydro: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-hydro', article: 'templating', strm: 'Flood\\Hydro: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-hydro', article: 'content-manager', strm: 'Flood\\Hydro: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-hydro', article: 'render-tree', strm: 'Flood\\Hydro: '}) }}
                                        </li>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'flood-hydro', article: 'sitemap', strm: 'Flood\\Hydro: '}) }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="main-nav--nav-label">Formanta</span>
                            <div class="main-nav--child">
                                <div class="main-nav--child--item main-nav--child--item--formanta-sass">
                                    <span class="main-nav--child--item--nav-label">Sass</span>
                                    <ul>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'formanta', article: 'sass', strm: 'FormantaSass: '}) }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-nav--child--item main-nav--child--item--formanta-sass-core">
                                    <span class="main-nav--child--item--nav-label">Sass Core</span>
                                    <ul>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'formanta', article: 'sass-core', strm: 'FormantaSass - Core: '}) }}
                                        </li>
                                    </ul>
                                </div><div class="main-nav--child--item main-nav--child--item--formanta-js">
                                    {#<span class="main-nav--child--item--nav-label">JS</span>
                                    <ul>
                                        <li>
                                            {{ include('fragment/menu-item.twig', {section: 'formanta', article: 'js', strm: 'FormantaJS: '}) }}
                                        </li>
                                    </ul>#}
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endblock %}
            </aside>
            <main class="content">
                {% block middle_content %}{% endblock %}
            </main>
            <footer class="footer">
                {% include('general/footer.twig') %}
            </footer>
        </section>
    </div>
</div>
<script async src="{{ url.asset }}js.min.js"></script>
{# Global site tag (gtag.js) - Google Analytics #}
{#<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110981775-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-110981775-2', {'anonymize_ip': true});

</script>#}

</body>
</html>