@charset "UTF-8";
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url(../../bower_components/highlightjs/styles/darcula.css);
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*! FormantaSass: Core v1.9.5 | GNU LGPL v3 or CeCILL-C 1.0 | © 2016 - 2017 Michael Becker, bemit UG (haftungsbeschränkt) | formanta.bemit.eu */
/*

    FormantaSass, the individualist Sass Framework

    FormantaSass: Core - Grid system and controlling mixin/classes

    Copyright  : © 2016-2017 Michael Becker, bemit.eu
    Author     : Michael Becker, bemit UG (haftungsbeschränkt)
    Licence:   : GNU LGPL v3 | CeCILL-C 1.0
*/
/**
    Syntax: 'max100px', 'min100px'
*/
/*
@mixin for-bp-individual($widths...) {
    $media-str: '';
    $already-found: false;
    @each $width in $widths {
        $found: false;
        $tmp-media-str: '';
        @if(str-index($width, 'max')) {
            $found: true;
            $already-found: true;
            $tmp-media-str: '(max-width: ' + str-slice($width, 4) + ')';
        } @else if(str-index($width, 'min')) {
            $already-found: true;
            $found: true;
            $tmp-media-str: '(min-width: ' + str-slice($width, 4) + ')';
        }
        @if($already-found && $found) {
            $media-str: $media-str + ' and ';
            $already-found: false;
        }
            //$media-str: $media-str + $tmp-media-str;

        //width: $width;
    }
    $media-str: unquote($media-str);
    @media ($media-str) {
        @content;
    }

    //   @include for-bp-individual('max100', 'min200', '300', '450'){
    //       color: #fff;
    //   }

}*/
html {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3c3d41;
  color: #555555; }

* {
  box-sizing: border-box; }

h1 {
  color: #ffffff;
  font-size: 1.8em;
  margin: 15px 0 20px 0; }
  @media (min-width: 992px) {
    h1 {
      margin: 30px 0 40px 0; } }

h2 {
  color: #cbcbcb;
  margin: 20px 0 10px 0; }
  @media (min-width: 992px) {
    h2 {
      margin: 30px 0 15px 0; } }

h3 {
  color: #a8a8a8;
  margin: 15px 0 10px 0; }
  @media (min-width: 992px) {
    h3 {
      margin: 20px 0 10px 0; } }

h4 {
  color: #a8a8a8;
  margin: 10px 0 10px 0; }

h5 {
  color: #a8a8a8;
  margin: 10px 0 10px 0; }

h6 {
  color: #a8a8a8;
  margin: 10px 0 10px 0; }

h1,
h2,
h3,
h4,
h5 {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.7s ease-in-out 0.2s; }
  h1.anchor-maker--highlight,
  h2.anchor-maker--highlight,
  h3.anchor-maker--highlight,
  h4.anchor-maker--highlight,
  h5.anchor-maker--highlight {
    border-bottom-color: #89b484; }

pre,
code,
p a code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 0.95em;
  color: #bababa;
  background: #2b2b2b;
  display: block;
  padding: 10px 17px;
  width: 100%; }

pre > code {
  padding: 0.6em;
  overflow-x: auto;
  overflow-y: hidden; }

p pre,
p code,
li pre,
li code {
  font-size: 0.9em;
  display: inline-block;
  padding: 3px 4px;
  width: auto; }

p a pre,
p a code {
  border-bottom: 1px solid #6ab42a;
  padding: 4px 6px;
  display: inline-block;
  width: auto; }

p {
  color: #e0f4f4;
  line-height: 1.3em;
  margin: 16px 15px; }

a,
li a,
p a {
  color: #89b484;
  transition: color 0.4s linear; }
  a:hover,
  li a:hover,
  p a:hover {
    color: #0e1d39; }

ol,
ul {
  padding-left: 30px; }
  ol li,
  ul li {
    padding: 2px 0;
    color: #e0f4f4; }

button,
.btn {
  border: 1px solid #89b484;
  color: #ffffff;
  font-weight: bold;
  background: #89b484;
  transition: 0.4s linear;
  padding: 15px 20px;
  text-decoration: none; }
  button:hover,
  .btn:hover {
    border-color: #ffffff;
    background: #ffffff;
    color: #89b484;
    cursor: pointer; }

input[type=email],
input[type=password],
input[type=text] {
  border: 1px solid #89b484;
  background: #ffffff;
  transition: 0.4s linear;
  color: #555555;
  padding: 12px 15px; }
  input[type=email]:hover,
  input[type=password]:hover,
  input[type=text]:hover {
    border-color: #0e1d39;
    color: #0e1d39; }

label {
  display: block; }

.container {
  margin: 0 auto;
  padding: 0 5px; }
  @media (min-width: 960px) {
    .container {
      max-width: 960px;
      padding: 0; } }

.blog {
  position: relative; }
  .blog img {
    max-width: 100%; }
  .blog .blog-article--social {
    background: #89b484;
    margin-top: 15px;
    padding: 15px 0 15px 0; }
    .blog .blog-article--social p {
      margin: 0;
      font-weight: bold;
      text-align: center;
      font-size: 1.25rem;
      padding-bottom: 10px; }
    .blog .blog-article--social > div {
      text-align: center; }
    .blog .blog-article--social a {
      color: #0e1d39;
      display: inline-block;
      font-weight: bold;
      padding: 2px 5px; }
      .blog .blog-article--social a:hover {
        color: #ffffff; }

blockquote {
  position: relative;
  margin: 0 0 20px;
  padding: 3px 20px 3px 45px;
  display: block;
  background: #555555;
  font-size: 1em;
  line-height: 1.3;
  color: #0e1d39;
  border-left: 15px solid #89b484;
  border-right: 2px solid #89b484; }
  blockquote::before {
    content: '\201C';
    font-size: 65px;
    font-weight: bold;
    color: #3c3d41;
    position: absolute;
    left: 10px;
    top: -10px; }
  blockquote p {
    margin: 8px; }
  blockquote em {
    font-style: italic; }

.header {
  background: #efefef;
  padding: 20px 10px; }
  .header .name {
    font-size: 2em; }
    .header .name a {
      color: inherit;
      text-decoration: none; }
  .header .desc {
    color: #555555; }
    .header .desc a {
      color: inherit;
      font-weight: bolder;
      text-decoration: none;
      border-bottom: 1px solid #555555;
      transition: color 0.4s linear, border-bottom 0.4s linear; }
      .header .desc a:hover {
        color: #89b484;
        border-bottom: 1px solid #89b484; }

.sidebar a {
  text-decoration: none; }

@media (min-width: 1650px) {
  /*.sidebar {
        position : absolute;
        top      : 0;
        left     : 0;
    }*/ }

.main-nav {
  z-index: 3;
  position: relative;
  margin: 0;
  padding: 10px 0;
  list-style-type: none; }
  @media (min-width: 992px) {
    .main-nav {
      padding: 15px 15px 15px 11px; } }
  .main-nav:before, .main-nav:after {
    content: ' ';
    display: table; }
  .main-nav:after {
    clear: both; }
  .main-nav li {
    margin: 0;
    list-style-type: none; }
  .main-nav > li {
    float: left;
    color: #89b484;
    transition: color 0.4s linear; }
    .main-nav > li:first-child {
      padding-left: 0; }
    .main-nav > li:last-child {
      padding-left: 0; }
    .main-nav > li > a:hover, .main-nav > li > span:hover {
      cursor: pointer; }
    .main-nav > li:hover {
      color: #0e1d39; }
      .main-nav > li:hover .main-nav--child {
        display: flex;
        flex-wrap: wrap; }
  .main-nav--nav-label {
    font-size: 1.5em;
    padding: 8px 10px; }
    .main-nav--nav-label:first-child {
      padding-left: 0; }
  .main-nav--child {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    padding: 2.5px 5px;
    margin-top: 7px;
    background: #89b484; }
    .main-nav--child--item {
      padding: 5px;
      margin: 2.5px 0;
      position: relative;
      min-height: 1px;
      float: left;
      width: 100%; }
      @media (min-width: 992px) {
        .main-nav--child--item {
          width: 33.3333333333%; } }
      .main-nav--child--item--nav-label {
        padding: 5px;
        color: #89b484;
        font-size: 1.15em; }
      .main-nav--child--item a {
        display: block;
        padding: 2px 0;
        color: #0e1d39; }
        .main-nav--child--item a:hover {
          color: #89b484; }
      .main-nav--child--item ul li {
        position: relative; }
        .main-nav--child--item ul li:before {
          content: '';
          width: 6px;
          height: 6px;
          background-color: #ffffff;
          display: block;
          position: absolute;
          left: -20px;
          top: 50%;
          transform: perspective(1px) translateY(-50%); }
      .main-nav--child--item--flood-canal {
        background: #e5e5e5; }
      .main-nav--child--item--flood-component {
        background: #7f7f7f; }
      .main-nav--child--item--flood {
        background: #4c4c4c; }
      .main-nav--child--item--hydro {
        background: #4c4c4c; }
      .main-nav--child--item--flood-module {
        background: #7f7f7f; }
      .main-nav--child--item--flood-theme {
        background: #e5e5e5; }
      .main-nav--child--item--formanta-sass {
        background: #4c4c4c; }
      .main-nav--child--item--formanta-sass-core {
        background: #7f7f7f; }
      .main-nav--child--item--formanta-js {
        background: #e5e5e5; }

#nav-sticky {
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 10px;
  background-color: #666666;
  min-width: 30px; }
  @media (min-width: 992px) {
    #nav-sticky {
      top: 150px;
      bottom: auto; } }
  #nav-sticky .nav-sticky--container {
    max-height: 0;
    max-width: 0;
    padding-bottom: 10px;
    overflow: hidden;
    transition: max-height 120ms ease-out, max-width 0.2s ease-out 120ms, border-right 1ms linear 320s; }
    #nav-sticky .nav-sticky--container.visible {
      max-width: 800px;
      max-height: 80vh;
      border-right: 2px solid #ffffff;
      transition: max-width 0.2s ease-out, max-height 120ms ease-out 0.2s; }
  #nav-sticky .nav-sticky--toggle {
    right: 0;
    font-size: 0;
    padding: 5px 10px;
    top: 50%;
    position: absolute;
    transform: perspective(1px) translateY(-50%);
    transition: transform 0.3s ease-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out; }
    #nav-sticky .nav-sticky--toggle:hover {
      right: -8px; }
    #nav-sticky .nav-sticky--toggle.visible {
      transform: rotate(180deg);
      margin-top: -20px; }
      @media (min-width: 992px) {
        #nav-sticky .nav-sticky--toggle.visible {
          right: -37px; } }
    #nav-sticky .nav-sticky--toggle:before {
      font-size: 25px;
      content: '>'; }
  #nav-sticky p {
    text-align: center; }
  #nav-sticky a {
    display: block;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 14px;
    margin-left: 5px;
    padding: 3px 3px 0 3px;
    color: #e5e5e5;
    border-left: 3px solid transparent;
    transition: 0.45s linear border-left-color; }
    #nav-sticky a:hover {
      border-left-color: #e5e5e5; }
    #nav-sticky a.element-h1 {
      padding-left: 2px; }
    #nav-sticky a.element-h2 {
      padding-left: 10px; }
    #nav-sticky a.element-h3 {
      padding-left: 18px; }
    #nav-sticky a.element-h4 {
      padding-left: 26px; }
    #nav-sticky a.element-h5 {
      padding-left: 34px; }
    #nav-sticky a.element-h6 {
      padding-left: 42px; }

.footer {
  text-align: center;
  padding: 35px 0 10px 0; }
  .footer a,
  .footer span {
    color: #89b484; }
  .footer .discl {
    margin: 0 auto;
    max-width: 520px;
    padding: 15px 0 10px 0; }

.home h1,
.home h2,
.home h3,
.home h4,
.home h5 {
  margin-left: 15px;
  margin-right: 15px; }

.home .home--list-last-updates {
  padding: 0 15px 15px 15px; }
  .home .home--list-last-updates .article {
    margin: 2px 0 8px 0;
    position: relative; }
    @media (min-width: 960px) {
      .home .home--list-last-updates .article {
        margin: 2px 0 12px 0; } }
  .home .home--list-last-updates .name {
    background: #0e1d39;
    padding: 7px 15px; }
    @media (min-width: 756px) {
      .home .home--list-last-updates .name {
        padding: 14px; } }
    @media (min-width: 960px) {
      .home .home--list-last-updates .name {
        padding: 21px; } }
    .home .home--list-last-updates .name a {
      padding: 7px 0;
      display: block;
      text-decoration: none; }
      .home .home--list-last-updates .name a:hover {
        color: #ffffff; }
      .home .home--list-last-updates .name a:before {
        content: '>';
        padding-right: 8px; }
  .home .home--list-last-updates .in-section {
    position: static;
    right: 0;
    top: 0;
    background: rgba(137, 180, 132, 0.6);
    padding: 4px; }
    @media (min-width: 756px) {
      .home .home--list-last-updates .in-section {
        background: #89b484;
        position: absolute; } }
  .home .home--list-last-updates .col {
    position: relative;
    min-height: 1px;
    float: left;
    padding: 4px; }
  .home .home--list-last-updates .col-last-creation,
  .home .home--list-last-updates .col-last-update {
    color: #a8a8a8;
    width: 50%; }
  .home .home--list-last-updates .col-last-creation {
    text-align: right; }
  .home .home--list-last-updates .col-last-update {
    text-align: left; }
  .home .home--list-last-updates .row:before,
  .home .home--list-last-updates .row:after {
    content: ' ';
    display: table; }
  .home .home--list-last-updates .row:after {
    clear: both; }

.about .reach-out {
  padding: 26px 0;
  text-align: center; }
  .about .reach-out a {
    font-size: 1.2em; }

.law-link-block a {
  display: inline-block; }

.law h1,
.law h2,
.law h3,
.law h4,
.law h5,
.law h6 {
  margin: 10px 0; }

/*# sourceMappingURL=style.css.map */