<a href="{{ url.generator.generate(section, {'article': article}) }}">
    {% if blog.getSection(section).getArticle(article).get('label') %}
        {% if strm %}
            {{ blog.getSection(section).getArticle(article).get('label')|replace({(strm): ''}) }}
        {% else %}
            {{ blog.getSection(section).getArticle(article).get('label') }}
        {% endif %}
    {% else %}
        {{ blog.getSection(section).getArticle(article).id }}
    {% endif %}
</a>