{% extends "general/index.twig" %}

{% block left_sidebar %}
    {{ parent() }}
{% endblock %}

{% block middle_content %}
    <div class="about">
        <div class="col-24">
            <h1>$this</h1>
            <p>The web is big, endless, scary, moody and wonderful - on PaintTheWeb you will read all different things
                that have any connection to web development, design, technology and a few things on management and
                projects.</p>
            <p>You can find guides of the configuration and implementation of tools that I use as developer, came
                across, was curious what that is or just took a quick glance on
                it.</p>
            <p>A lot is just the documentation of some software, library, script - written mostly for myself as a
                memory aid.</p>
            <p>Or code scribbles which I found wonderful or are just helpful. Including HTML/Twig, Sass/CSS, JS, PHP,
                small bash scriptlets....</p>
            <h2>So - who?</h2>
            <p>This blog is maintained by Michael Becker, me, a Germany based Web Developer.</p>
            <p>I code backend and frontend web applications, homepages and online-shops, also some libraries to support
                my work, the source of content for this blog. My every day life as a web developer at <i>bemit UG
                    (haftungsbeschränkt)</i> and on other projects.</p>
            <p>Quick Informations:</p>
            <ul>
                <li>From Germany, near Mainz, Male, '1994</li>
                <li>three-year training as IT specialist for application development in a vinery-software company</li>
                <li>~1 more year web-guy in that company</li>
                <li>developing web applications since 2015 for bemit</li>
                <li>1 and a half year Junior Webdeveloper in an international PowerPoint agency with 2 of the leading
                    slide shops - after which the senior developer and I took care of
                </li>
                <li>at the moment freelancer for Frontend Development at a german public-law broadcast company</li>
            </ul>
            <div class="reach-out">
                <a href="mailto:mb@project.bemit.eu" class="btn">Fetch some cake!</a>
            </div>
            <div class="reach-out">
                <a href="https://mlbr.xyz" class="btn">want to know more about michael?</a>
            </div>
            <p>This blog is written in <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">MarkDown</a>,
                don't expect much images and media stuff!
            <p>
            <p>other <a href="{{ url.generator.generate('projects') }}">projects</a></p>
        </div>
    </div>
{% endblock %}