{% extends 'general/index.twig' %}

{% block left_sidebar %}
    {{ parent() }}
    <div id="nav-sticky">
        <div class="nav-sticky--container">
            <p class="nav-sticky--headline">Document Menu</p>
        </div>
        <button class="nav-sticky--toggle">open document-menu</button>
    </div>
{% endblock %}

{% block middle_content %}
    <div class="blog">
        <div class="col-24">
            {{ md_content|raw }}
        </div>
        <div class="blog-article--social">
            <p>Share this page!</p>
            <div>
                <a class="twitter-share-button"
                   target="_blank"
                   href="https://twitter.com/intent/tweet?text=Read%20$this:%20{% if blog.section_list[match._route].article_list[match.article].get('label') %}{{ blog.section_list[match._route].article_list[match.article].get('label')|url_encode }}{% endif %}%20{{ url.generator.generate(match._route, {'article': match.article})|url_encode }}%20@elbakerino"
                   data-size="large">Twitter</a>
                <a class="fb-share-button"
                   target="_blank"
                   href="https://www.facebook.com/sharer/sharer.php?u={{ url.generator.generate(match._route, {'article': match.article})|url_encode }}"
                   data-size="large">Facebook</a>
                <a class="gp-share-button"
                   target="_blank"
                   href="https://plus.google.com/share?url={{ url.generator.generate(match._route, {'article': match.article})|url_encode }}"
                   data-size="large">Google+</a>
                <a class="gp-share-button"
                   target="_blank"
                   href="mailto:?subject=Read%20$this:%20{% if blog.section_list[match._route].article_list[match.article].get('label') %}{{ blog.section_list[match._route].article_list[match.article].get('label')|url_encode }}{% endif %}&body=A%20great%20blog%20post%20on%20painttheweb.de%0A{{ url.generator.generate(match._route, {'article': match.article})|url_encode }}"
                   data-size="large">as Mail</a>
            </div>
        </div>
    </div>
    <div class="blog-article-info">
        <hr>
        <p>
            {% if blog.section_list[match._route].article_list[match.article].get('date').update %}
                Created
                <time datetime="{{ blog.section_list[match._route].article_list[match.article].get('date').create }}">{{ blog.section_list[match._route].article_list[match.article].get('date').create }}</time>
            {% endif %}
            {% if blog.section_list[match._route].article_list[match.article].get('date').update %}
                | Last Update
                <time datetime="{{ blog.section_list[match._route].article_list[match.article].get('date').update }}">{{ blog.section_list[match._route].article_list[match.article].get('date').update }}</time>
                <meta itemprop="datePublished" content="{{ blog.section_list[match._route].article_list[match.article].get('date').update }}">
            {% endif %}
        </p>
    </div>
{% endblock %}