{% extends 'general/index.twig' %}

{% block left_sidebar %}
    {{ parent() }}
{% endblock %}

{% block middle_content %}
    <div class="factory-md">
        <div class="col-24">
            {{ md_content|raw }}
        </div>
    </div>
{% endblock %}