{% extends "general/index.twig" %}

{% block left_sidebar %}
    {{ parent() }}
    {#<ul>
        <li><a href="{{ url.generator.generate('home') }}">Home</a></li>
        <li><a href="{{ url.generator.generate('about') }}">About</a></li>
    </ul>#}
{% endblock %}

{% block middle_content %}
    <div class="home">
        <h1>NULL - Paint The Web</h1>
        {% if blog_page %}
            <p>This blog article doesn't exist at the moment, do you want to write it?</p>
            <p>Just <a href="https://twitter.com/elbakerino" target="_blank">tweet</a> me or make a pull request at
                <a href="https://bitbucket.org/bemit_eu/painttheweb.de/pull-requests/" target="_blank">bitbucket</a>!</p>
        {% else %}
            <p>You have just reached the end. Nothing exists and may have never been.</p>
        {% endif %}
        <p>And everything else could be found at <a href="{{ url.generator.generate('home') }}">home</a>.
    </div>
{% endblock %}
