{% extends "general/index.twig" %}

{% block left_sidebar %}
    {{ parent() }}
    {#<ul>
        <li><a href="{{ url.generator.generate('home') }}">Home</a></li>
        <li><a href="{{ url.generator.generate('about') }}">About</a></li>
    </ul>#}
{% endblock %}

{% block middle_content %}
    <div class="home">
        <h1>Paint The Web - read something!</h1>
        <p>Just pick a category above or scroll through the last updated articles.</p>
        <p>Want to <strong>contribute</strong>? Just <a href="https://twitter.com/elbakerino" target="_blank">tweet</a> me or make a pull request at
            <a href="https://bitbucket.org/bemit_eu/painttheweb.de/pull-requests/" target="_blank">bitbucket</a>!</p>
        <h2>Last Updates:</h2>
        <div class="home--list-last-updates">
            {% for blog_article in blog_article_list %}
                <div class="article">
                    <div class="name">
                        <a href="{{ url.generator.generate(blog_article.section_id, {'article': blog_article.article_id}) }}">{{ blog_article.article.get('label') }}</a>
                    </div>
                    <div class="in-section">
                        {{ blog_article.section_id }}
                    </div>
                    <div class="row">
                        <div class="col col-last-update">
                            Last Update
                            {{ blog_article.article.get('date').update }}
                        </div>
                        <div class="col col-last-creation">
                            Creation
                            {{ blog_article.article.get('date').create }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
