{% extends 'general/index.twig' %}

{% block left_sidebar %}
    {{ parent() }}
{% endblock %}

{% block middle_content %}
    <div class="law-link-block">
        <a
                lang="de"
                href="{{ url.generator.generate('law', {'page': 'impressum', 'locale': 'de'}) }}"
                {% if frontend.routes.get('law').getDefault('rel') %}rel="{{ frontend.routes.get('law').getDefault('rel') }}"{% endif %}
        >Impressum - DE</a>
        <a
                lang="en"
                href="{{ url.generator.generate('law', {'page': 'imprint', 'locale': 'en'}) }}"
                {% if frontend.routes.get('law').getDefault('rel') %}rel="{{ frontend.routes.get('law').getDefault('rel') }}"{% endif %}
        >Imprint - EN</a>
        <a
                lang="de"
                href="{{ url.generator.generate('law', {'page': 'datenschutz', 'locale': 'de'}) }}"
                {% if frontend.routes.get('law').getDefault('rel') %}rel="{{ frontend.routes.get('law').getDefault('rel') }}"{% endif %}
        >Datenschutz - DE</a>
        <a
                lang="en"
                href="{{ url.generator.generate('law', {'page': 'privacy-policy', 'locale': 'en'}) }}"
                {% if frontend.routes.get('law').getDefault('rel') %}rel="{{ frontend.routes.get('law').getDefault('rel') }}"{% endif %}
        >Privacy Policy - EN</a>
    </div>
    <div class="law">
        <div class="col-24">
            {{ md_content|raw }}
        </div>
    </div>
{% endblock %}