{% extends "general/index.twig" %}

{% block left_sidebar %}
    {{ parent() }}
{% endblock %}

{% block middle_content %}
    <div class="about">
        <div class="col-24">
            <h1>Projects</h1>

            <p>At the moment a short list to the repositories and data</p>

            {#
            <table>
                <tr>
                    <td>Group</td>
                    <td>Sub-Group</td>
                    <td>Project</td>
                    <td>Type</td>
                    <td>Docu</td>
                    <td>Guide</td>
                    <td>
                        <table>
                            <tr>
                                <td colspan="2">Download</td>
                            </tr>
                            <tr>
                                <td>ZIP master</td>
                                <td>ZIP develop</td>
                                <td>ZIP dist</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>#}
            <ul>
                <li>
                    <a href="https://bitbucket.org/account/user/bemit_eu/projects/FLD" target="_blank">Flood Repos</a>
                </li>
                <li>
                    <a href="https://bitbucket.org/bemit_eu/canal/src/master/" target="_blank">Canal</a>
                </li>
                <li>
                    <a href="https://bitbucket.org/bemit_eu/canal-asset/src/master/" target="_blank">Canal: Asset</a>
                </li>
                <li>
                    <a href="https://bitbucket.org/bemit_eu/canal-view/src/master/" target="_blank">Canal: View</a>
                </li>
                <li>
                    <a href="https://bitbucket.org/bemit_eu/canal-structure/src/master/" target="_blank">Canal:
                        Structure</a>
                </li>
            </ul>
            <div class="reach-out">
                <a href="mailto:project@we.bemit.eu" class="btn">support mail</a>
                <p>keep in mind, open source doesn't mean free software</p>
            </div>
        </div>
    </div>
{% endblock %}