<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>

        <title>PaintTheWeb - a .md Blog</title>
        <description>The web is big, endless, scary, moody and wonderful - on PaintTheWeb you will read all different
            things that have any connection to web development, design, technology and a few things on management and
            projects.
        </description>
        <language>en</language>
        <link>{{ url.home }}</link>
        <lastBuildDate>{{ "now"|date("Y-m-d H:i") }} UTC</lastBuildDate>
        {% for blog_article in blog_article_list %}
            <item>
                <title>{{ blog_article.article.get('label') }}</title>
                {#<description>Um Euch über die Neuigkeiten auf meiner Webseite auf dem Laufenden zu halten, gibt es seit
                    heute einen RSS Feed.
                </description>#}
                <link>{{ url.generator.generate(blog_article.section_id, {'article': blog_article.article_id}) }}</link>
                {% if blog_article.article.get('date').update %}
                    <pubDate>{{ blog_article.article.get('date').update|date('Y-m-d') }}</pubDate>
                {% else %}
                    <pubDate>{{ blog_article.article.get('date').create|date('Y-m-d') }}</pubDate>
                {% endif %}
                <guid>{{ url.generator.generate(blog_article.section_id, {'article': blog_article.article_id}) }}</guid>
            </item>
        {% endfor %}
    </channel>
</rss>