<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for blog_article in blog_article_list %}
        <url>
            {% if blog_article.article.get('date').update %}
                <lastmod>{{ blog_article.article.get('date').update|date('Y-m-d') }}</lastmod>
            {% endif %}
            <loc>{{ url.generator.generate(blog_article.section_id, {'article': blog_article.article_id}) }}</loc>
        </url>
    {% endfor %}
    <url>
        <loc>{{ url.home }}</loc>
    </url>
</urlset>